<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\evoto-crm\otoi.apis-main\venv\Scripts\python.exe|D:\evoto-crm\otoi.apis-main\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <fastCgi>
      <application
        fullPath="D:\evoto-crm\otoi.apis-main\venv\Scripts\python.exe"
        arguments="D:\evoto-crm\otoi.apis-main\venv\Lib\site-packages\wfastcgi.py"
        maxInstances="4" />
    </fastCgi>
  </system.webServer>
</configuration>



