<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\python-3.13\python.exe|C:\python-3.13\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>

  <appSettings>
    <!-- If your Flask entry point is app.py and variable is app -->
    <add key="WSGI_HANDLER" value="app.app" />

    <!-- Set project root -->
    <add key="PYTHONPATH" value="D:\evoto-crm\otoi.apis-main" />
  </appSettings>
</configuration>


