<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- FastCGI handler -->
    <handlers>
      <add name="PythonFastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\evoto-crm\otoi.apis-main\venv\Scripts\python.exe|D:\evoto-crm\otoi.apis-main\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
   
  </system.webServer>

  <appSettings>
    <!-- Flask entrypoint -->
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="PYTHONPATH" value="D:\evoto-crm\otoi.apis-main" />
    <add key="FLASK_ENV" value="production" />

    <!-- Optional: log file -->
    <add key="WSGI_LOG" value="D:\evoto-crm\otoi.apis-main\wfastcgi.log" />
  </appSettings>
</configuration>